<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>87797584274-uf5dr0p5pearlij6q2i5ogh115ghp05j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.87797584274-uf5dr0p5pearlij6q2i5ogh115ghp05j</string>
	<key>API_KEY</key>
	<string>AIzaSyB2ueZK-Db4RILbwe4fhs7oYuc_4aeKwPY</string>
	<key>GCM_SENDER_ID</key>
	<string>87797584274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.employeeTimeTracker</string>
	<key>PROJECT_ID</key>
	<string>timetracker-31f94</string>
	<key>STORAGE_BUCKET</key>
	<string>timetracker-31f94.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87797584274:ios:2807a12277e65ea0b3b14b</string>
</dict>
</plist>